{% extends 'base.html' %}
{% block title %}
<title>Book Details | BookHub</title>
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="card w-100 shdaow">
        <img src="{{book.image.url}}" class="card-img-top" alt="book">
        <div class="card-body">
            <h5 class="card-text">Book Name:
               <span class="text-info">{{book.title}}</span> </h5>
            <p class="card-text"><strong>Description:</strong> 
                {{book.description}}</p>
            <p class="card-text"><strong>Borrow Price: {{book.borrow_price}} ৳</strong></p>
            <div class="d-flex mb-3">
                <strong>Category: </strong>
                {% for category in book.categories.all %}
                    <button class="btn btn-warning mx-2">{{category.name}}</button>
                {% endfor %}
            </div>
            <a class="btn btn-outline-info" href="{% url 'borrow_book' pk=book.pk %}">Borrow This Book</a>
        </div>
    </div>
    
    <div class="mt-5">
        {% if reviews.all.count != 0 %}
        <h3 class="text-center pb-2 border-bottom border-info mb-4">Reviews</h3>
        {% endif %}
        <div class="mt-5">
            {% include 'comments.html' with comments=comments %}
        </div>
    </div>
</div>

{% endblock %}